<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nf.media_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>


    <receiver android:name="com.nf.media_app.flutterlocalnotifications.ScheduledNotificationBootReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"></action>
        </intent-filter>
    </receiver>
    <receiver android:name="com.nf.media_app.flutterlocalnotifications.ScheduledNotificationReceiver" />
</manifest>